.page {
  background-image: repeating-linear-gradient(to right,
      #d3d3d3 0 2px,
      transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0%, #e7e7e7 0.1%, #1a1a1a 100%);
  background-size: 20px 20px, 20px 20px, cover;
  background-attachment: fixed;
  background-color: #fff;
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--paragraph-weight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

img {
  object-fit: cover;
  inline-size: 100%;
}

.header {
  position: relative;
  font-family: var(--font-pixel);
  font-size: 24.5px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: var(--header-background);
  border: 2px solid #000;
  margin-top: 100px;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
  inline-size: 100%;
  padding-top: 120px;
}

.header-paragraph {
  font-size: clamp(10px, 5vw, 14px);
  margin-top: 20px;
  margin-bottom: 120px;
}

.car-vehicle {
  background-color: var(--header-background);
  margin-top: 50px;
  max-inline-size: 700px;
  border: 2px solid #000;
}

.picture {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  max-inline-size: 700px;
  position: relative;
}

.label-text {
  position: absolute;
  right: 10px;
  background: transparent;
  font-family: var(--font-pixel);
  font-size: 14px;
  margin-top: 20px;
  text-shadow: 1px #fff;
  z-index: 1;
  mix-blend-mode: hard-light;
}

.card-title {
  font-variation-settings: "wght" var(--heading-weight);
  font-size: 18px;
  padding: 4px 10px 4px 10px;
  border: 2px solid #000;
}

.card-description {
  display: flex;
  flex-direction: column;
  margin: 25px 27px 25px 24px;
  font-size: 18px;
  font-variation-settings: "wght" var(--paragraph-weight);
  line-height: 21px;
  gap: 27px;
}

.button {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border: 2px solid #000;
  text-align: center;
  font-size: 14px;
  font-family: var(--font-pixel);
  color: #000;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: translateX(0);
  cursor: pointer;
}

.button span,
.button p {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: #fff;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px #000;
}

.button:hover .dialog_icon use {
  fill: #fff;
  cursor: pointer;
}

.button:hover span {
  color:#fff;
  cursor: pointer;
}

.button:hover p {
  color: #fff;
  cursor: pointer;
}

.button_group_like {
  display: flex;
  transition: box-shadow 0.3s ease;
  margin-bottom: 25px;
  margin-right: 26px;
  justify-content: end;
  gap: 5px;
}

.card__like-button {
  inline-size: 130px;
}

.disket-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 16px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 15px;
  margin: 52px 34px 100px 35px;
  gap: 8px;
}

.disket-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  text-align: center;
  transition: border 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid #000;
}

.button__text {
  font-size: 14px;
  font-family: var(--font-pixel);
}

.filter-gray {
  filter: grayscale(75%);
}

.filter-contrast {
  filter: saturate(500%);
}

.filter-color {
  filter: hue-rotate(40deg);
}

.filter-invert {
  filter: invert(75%);
}

.filter-vintage {
  filter: sepia(80%);
}

.filter-blur {
  filter: blur(10px);
}

.filter-blur-color {
  filter: blur(1px) hue-rotate(90deg) contrast(60%);
}

dialog[open] {
  display: flex;
  justify-self: center;
  flex-direction: column;
  inline-size: 341px;
}

dialog[open]::backdrop {
  background-color: #000;
  opacity: 75%;
}

dialog[open] div {
  display: grid;
  justify-self: center;
  align-items: center;
  gap: 20px;
  grid-template-columns: min-content, 300px;
  margin-left: 22px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: left;
  text-transform: uppercase;
}

dialog[open] .message {
  grid-column: 2;
  line-height: 21px;
}

dialog[open] button {
  padding: 13px 115px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-left: 22px;
  margin-right: 22px;
}

.disket_icon {
  width: 28px;
  height: 28px;
  z-index: 1;
  transition: color 0.5s ease-in-out;
  color: #fff;
  mix-blend-mode: difference;
}

.button:hover .disket_icon {
  cursor: pointer;
  color: #fff;
}

.dialog_icon {
  width: 40px;
  height: 40px;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .label-text {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

@media (width >=1024px) {
  .header {
    inline-size: 700px;
    font-size: 32px;
    padding-top: 130px;
  }

  .header-paragraph {
    font-size: 23px;
    margin-bottom: 125px;
  }

  .card-description {
    margin-top: 27px;
    margin-left: 25px;
  }

  .label-text {
    right: 25px;
    margin-top: 25px;
  }

  .disket-button {
    flex-direction: row;
    margin-top: 50px;
    padding-bottom: 15px;
    gap: 12px;
  }

  dialog[open] {
    inline-size: 353px;
  }

  dialog[open] div {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
  }

  dialog[open] button {
    padding: 10px 115px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .disket_icon {
    width: 21px;
    height: 21px;
  }
}