/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-pixel: 'PressStart2P', sans-serif;
    --font-main: 'Inter Variable', sans-serif;
    --header-background: #fff;
}